[submodule "MagicSetEditor"]
	path = MagicSetEditor
	url = https://github.com/moecube/MagicSetEditor
[submodule "ygopro-database"]
	path = ygopro-database
	url = https://github.com/moecube/ygopro-database
[submodule "ygopro-images-raw"]
	path = ygopro-images-raw
	url = https://github.com/zh99998/ygopro-images.git
